.content-large {
    font-size: 12px;
}
.main-section {
    width: 100%;
}
.change-status-block {
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;        
    }
    button {
        margin-top: 1rem;        
        margin-left: .5rem;
    }
}
.status-buttons-wrapper {
    margin-bottom: 1rem;
    .status-change-btn {
        margin-right: .5rem;
    }
}

.clone-form-block {
    form {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        button {
            margin-left: 1rem;
        }
    }
}